:root {
  --blue-dark: #041c2c;
  --blue-main: #0059b2;
  --blue-light: #0a2f45;
  --white: #ffffff;
  --gray: #6b7280;
}

* {
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background: #fff;
}

/* HERO */
.hero-section {
  position: relative;
  background: url("/assets/image/hero-landing-page.png") center/cover no-repeat;
  color: #fff;
  padding: 60px 0 100px;
  min-height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: self-start;
}
.hero-content {
  position: relative;
  z-index: 2;
}
.hero-header {
  background: var(--White, #fff);
  border-radius: 20px;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 10px 20px;
  display: flex;
  position: fixed;
  left: 10%;
  right: 10%;
  top: 40px;
}
.hero-logo {
  width: 71px;
  height: 80px;
  aspect-ratio: 71/80;
}

.hero-section h1 {
  color: var(--White, #fff);
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-family: "Bebas Neue";
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.hero-sub {
  margin-top: 20px;
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Avenir;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero-actions {
  display: flex;
  gap: 16px;
  margin-top: 30px;
}

/* BUTTONS */
.btn-primary-custom {
  color: #fff;
  border: none;
  padding: 12px 22px;
  border-radius: 150px;
  background: #0055a4;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: "Bebas Neue";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.btn-secondary-custom {
  padding: 12px 22px;
  border-radius: 150px;
  background: var(--Primary-Neon-Red, #ff073a);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--White, #fff);
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.container {
  max-width: 1240px;
}
/* SECTIONS */
.section-title {
  margin-bottom: 40px;
  color: var(--Black, #1d1d26);
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.section-title.light {
  color: #fff;
}

/* HOW */
.how-section {
  padding: 80px 0;
}

.how-card {
  text-align: center;
  padding: 40px;
  border-radius: 0 0 0 120px;
  background: var(--White, #fff);
  box-shadow: -10px 10px 20px 0 rgba(0, 0, 0, 0.07);
}
.how-card h4 {
  color: var(--Black, #1d1d26);
  font-family: "Bebas Neue";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 40px;
}

.how-card p {
  color: var(--Juggling-Club-Dark-Blue, #03202f);
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* ACTIVATE */
.activate-section {
  padding: 60px 0;
}

.activate-box-exact {
  color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  display: flex;
  border-radius: 30px;
  background: #0055a4;
  box-shadow: 0 8px 0 0 #003464;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.activate-box-exact h3 {
  color: var(--White, #fff);
  font-family: "Bebas Neue";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.activate-box-exact p {
  color: var(--White, #fff);
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  margin-bottom: 0px;
}
/* ===== ACTIVATE YOUR ACCOUNT (EXACT) ===== */

.activate-wrap {
  padding: 70px 0;
}

/* LEFT SIDE */
.activate-left {
  max-width: 520px;
}

/* RIGHT SIDE */
.activate-right {
  display: flex;
  align-items: center;
  gap: 26px;
  border-radius: 15px;
  position: relative;
}
.activate-right:after {
  content: "";
  border-radius: 15px;
  background: var(--White, #fff);
  border: 1px solid #00a86b66;
  box-shadow: 0 4px 20px #0000001a;
  left: 0;
  position: absolute;
  right: 20%;
  height: 100%;
}
/* QR BLOCK */
.qr-block {
  align-items: center;
  gap: 12px;
  padding: 10px;
  display: flex;
  flex: 1;
  position: relative;
  z-index: 1;
}

.qr-block img {
  width: 60px;
  height: 60px;
  aspect-ratio: 1/1;
}

.qr-text span {
  display: block;
  color: #949494;
  font-family: Avenir;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.qr-text strong {
  color: #1d1d26;
  font-family: "Bebas Neue";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* BUTTON */
.activate-btn-exact {
  color: #fff;
  white-space: nowrap;
  z-index: 1;
  padding: 12px 22px;
  font-size: 13px;
  font-weight: 700;
  position: relative;
  border-radius: 150px;
  border: 4px solid #f3f3f3;
  background: #0055a4;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .activate-box-exact {
    flex-direction: column;
    align-items: flex-start;
  }

  .activate-right {
    width: 100%;
    justify-content: space-between;
  }

  .activate-btn-exact {
    width: 100%;
    text-align: center;
  }
}

/* TESTIMONIAL */
.testimonial-section {
  padding: 70px 0;
  background: #f3f3f3;
}
.testimonial-section .section-title {
  color: #1d1d26;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.testimonial-card {
  padding: 30px;
  border-radius: 30px;
  border: 1px solid #00a86b;
  background: var(--White, #fff);
  box-shadow:
    0 8px 0 0 #000,
    0 8px 0 0 #000;
}
.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.user-info h4 {
  color: var(--Black, #1d1d26);
  font-family: "Bebas Neue";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;
}
.user-info span {
  color: var(--Gray, #949494);
  font-family: Avenir;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.user-info {
  border-left: 2px solid #0055a4;
  padding-left: 20px;
}
.testimonial-card p {
  color: var(--Black, #1d1d26);
  font-family: Avenir;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* COACH */
.coach-section {
  padding: 80px 0;
}

.coach-card {
  display: flex;
  gap: 20px;
  background: var(--blue-main);
  color: #fff;
  padding: 30px;
  border-radius: 20px;
}

/* LEADERBOARD */
.leaderboard-section {
  background: var(--blue-dark);
  padding: 80px 0;
}

.leaderboard-box {
  background: #02131f;
  border-radius: 20px;
  padding: 30px;
}

.leader-row {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  color: #fff;
}

/* CTA */
.cta-section {
  text-align: center;
  padding: 80px 20px;
}

/* FOOTER */
.footer {
  background: #0b0b0b;
  color: #aaa;
  text-align: center;
  padding: 30px;
}
